<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noisyle.demo.mybatis.repository.TopicRepository">
	<resultMap id="Topic" type="com.noisyle.demo.mybatis.model.Topic">
		<id property="id" column="id" javaType="java.lang.Long" />
		<result property="userId" column="userId" javaType="java.lang.Long" />
		<result property="title" column="title" javaType="java.lang.String" />
		<result property="content" column="content" javaType="java.lang.String" />
	</resultMap>

    <resultMap id="TopicAndComment" type="com.noisyle.demo.mybatis.model.Topic" extends="Topic">
        <collection property="comments" ofType="com.noisyle.demo.mybatis.model.Comment" notNullColumn="cId">
            <id column="cId" property="id" />
            <result column="id" property="topicId" />
            <result column="cuserid" property="userId" />
            <result column="ccontent" property="content" />
        </collection>
<!--         <association property="creator" javaType="com.noisyle.demo.mybatis.model.User"> -->
<!-- 			<id property="id" column="uid" javaType="java.lang.Long" /> -->
<!-- 			<result property="username" column="uusername" javaType="java.lang.String" /> -->
<!--         </association> -->
    </resultMap>

    <select id="findTopicById" resultMap="TopicAndComment" parameterType="long">
        select t.*,
               c.id as cid,
               c.userid as cuserid,
               c.content as ccontent,
               u.id as uid,
               u.username as uusername
          from forum_topic t 
            left join forum_comment c on c.topicid=t.id
            left join sys_user u on u.id=t.userid
        where t.id=#{id}
    </select>

    <select id="findTopics" resultMap="TopicAndComment">
        select t.*,
               c.id as cid,
               c.userid as cuserid,
               c.content as ccontent,
               u.id as uid,
               u.username as uusername
          from forum_topic t 
            left join forum_comment c on c.topicid=t.id
            left join sys_user u on u.id=t.userid
    </select>
</mapper>